@import 'variables';

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import 'reboot';
@import 'utilities/display';
@import 'utilities/spacing';
@import 'utilities/background';
@import 'utilities/sizing';
@import 'utilities/text';
@import 'utilities/position';
@import 'utilities/overflow';

@import 'alert';
@import 'badge';
@import 'bredcrumb';
@import 'buttons';
@import 'card';
@import 'caret';
@import 'carousel';
@import 'chart';
@import 'code';
@import 'date-range-picker';
@import 'forms';
@import 'footer';
@import 'grid';
@import 'icons';
@import 'list-group';
@import 'map';
@import 'navbar';
@import 'navs';
@import 'pagination';
@import 'popover-tooltip';
@import 'profile';
@import 'sidebar';
@import 'spinkit';
@import 'separator';
@import 'switchers';
@import 'tabs';
@import 'toaster';
@import 'todo';
@import 'type';
@import 'tables';
@import 'widgets';
@import 'error';


/* 
equal height for col 
*/


/* 
custom style for custom page 
*/

.gray-dark{
 background-color: $gray-dark;  
}
.header-fixed .page-wrapper {
  
}
.custom-page {
  height: 1000px;

  


    .custom-width {
      width: 100vh;
      font-size: 0.8rem;
      display: contents;

      .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .col-xl-4 {
          margin-bottom: 1rem;
        }
      }
    }

    a {
      color: inherit;
    }

    .card {
      border: none;
      
      
      .card-body {
        
      }

      
    }
  

  .page-content {
    
    
  }

  @media screen and (max-width:1200px) {

    .page-content {
      margin-top: inherit;
    }

    .position-fixed {
      position: relative !important;
    }
  }
}


.scrollable {
  padding-top: 1rem;
  height: 500px; /* or any value */
  overflow-y: auto;
  
  p{
    line-height: 1.6;
    margin-bottom: 0.5rem;
  }
}


/* 
custom cards compmnenet
*/
.custom-cards { 

  .card:hover{
    cursor: pointer;
  }

  .custom-flex {
    display: flex;
    flex-direction: row;
    align-items: center;

    .left {
      padding-right: 1rem;
    }
    .right {
      h6 {
        padding-bottom: 0.5rem;
      }
    }


    @media screen and (max-width: 992px){
      flex-direction: column;
      align-items: flex-start;
      
      .left {
        padding-bottom: 1rem;
      }
    }
  }
}